/* Header */
.header {
    justify-content: space-between;
    padding: .8rem 3rem;
    z-index: 2;
}

nav.nav_menu {
    display: flex;
}

nav.nav_menu a {
    font-size: 1.6rem;
    padding: .5rem;
    color: var(--white);
    font-family: 'Cooper Hewitt';
    text-decoration: none;
    letter-spacing: .2rem;
    right: 0;
    margin-right: 2.5rem;
    font-weight: 500;
}

nav.nav_menu a.course {
    color: #ffffff90;
    border: 1px solid #ffffff40;

}

nav.nav_menu a:hover,
nav.nav_menu a.active {
    color: var(--Primary);
    padding: .5rem;
    transition: all .5s;
}

nav.nav_menu.not-active a {
    display: flex;
}

nav.nav_menu.not-active .flags {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    align-items: center;
}

nav.nav_menu.not-active .flags__item {
    filter: contrast(65%);
    cursor: pointer;
}

nav.nav_menu.not-active .flags__item img {
    width: 3rem;
    display: block;
}

div.btn {
    display: none;
}

/* Home */

.home {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 4rem;
    height: 100vh;
}

.container_image-home {
    width: 55%;
    padding-right: -4rem;
    position: relative;
    justify-content: center;
    align-items: center;
}

.image_home {
    object-fit: contain;
    max-width: 32rem;
    max-height: 32rem;
}


.home_info {
    width: 40%;
    padding-left: 8rem;
}

.container_text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: .2rem;
    text-align: start;
    margin-top: 6rem;
}

.home_text-2 {
    font-size: 8rem;
    font-weight: bold;
    color: var(--Primary);
    width: 150%;
}

.home_text-3 {
    margin: 0 0 2rem 0;
    font-size: 4rem;
    width: 45rem;
    letter-spacing: .2rem;
}

.container_parrafo-info {
    display: inline-block;
    text-align: start;
}

.container_parrafo-info p {
    font-family: 'Cooper Hewitt';
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 3.2rem;
}

.container_button {
    display: flex;
}

.cv_button {
    background: transparent;
    color: var(--white);
    margin-right: 3rem;
    transition: .2s;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Bordes sutiles */
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 12px 60px;
}

.course {
    margin: 0;
}

.contact_button {
    display: inline-block;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1); /* Bordes sutiles */
    color: var(--white);
    font-family: 'Cooper Hewitt';
    background: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0;
    cursor: pointer;
    padding: 12px 60px;
    border-radius: 5px;
    overflow: hidden;
}

.contact_button span {
    position: relative;
    z-index: 2;
}

.contact_button::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -100%;
    background: var(--Primary);
    transition: left .4s ease-in-out;
}

.contact_button:hover::after {
    left: 0;
}

.contact_button:hover {
    color: #000;
}

.links {
    width: 5%;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 3rem 40rem 3rem;
}

.links img {
    margin: .7rem 0 .7rem 0;
}

.links .icon-CodePen {
    margin: .7rem 0 .7rem .2rem;
}

/* Habilidades */

.habilidades {
    padding-bottom: 8rem;
    position: relative;
}
.fond-habilidades {
    background: rgba( 255, 255, 255, 0.05 );
    backdrop-filter: blur( 50px );
   -webkit-backdrop-filter: blur( 50px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    min-width: 680px;
    max-width: 680px;
    margin: 0 auto;
    padding: 40px 40px;
   
  }

.habilidades h1 {
    padding-top: 8rem;
    font-size: 3rem;
    color: var(--Primary);
}

.puntos1-habilidades {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 15rem 0 0
        /* 41rem */
        20%;
    background-attachment: fixed;
}

.puntos2-habilidades {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 0 0 0 76%;
}

.cards_container--habilidades {
    grid-template-columns: 13rem 13rem 13rem 13rem;
    grid-template-rows: 14rem 14rem;
    padding: 0;
    margin-top: 2rem;
}

.cards--habilidades:hover {
    filter: saturate(100%);
    border: 1px solid var(--beaver);
    transition: all 1s;
}

.cards--habilidades p {
    font-size: 1.6rem;
    margin-top: .8rem;
}

.proyectos h1 {
    padding-top: 8rem;
    font-size: 3rem;
}

.puntos1-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: 20rem 0 0 1%;
    background-attachment: fixed;
}

.puntos2-proyectos {
    display: inline;
    position: absolute;
    width: 6rem;
    margin: -3rem 0 0 93%;
}

.cards_container--proyectos {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.cards--proyectos {
    width: 32rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1.5rem;
    z-index: 1;
}

.text-portafolio {
    margin-top: -3rem;
}

.container_btn--proyectos button {
    width: auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

/* Contacto */

.contacto h1 {
    padding: 8rem 0 2.5rem 0;
    font-size: 3rem;
}

.container_box--contacto {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
}

.container_img--contacto {
    display: inline-block;
    width: 60rem;
    display: flex;
    justify-content: center;
}

.container_img--contacto img {
    width: 50rem;
    object-fit: contain;
}

.container--contacto {
    width: 45%;
    margin: 0;
    padding: 4rem 3rem;
}